*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #EEEEEE;
}
#main{
	width: 300px;
	margin: 180px auto;
	height: auto;
	font-family: "arial, helvetica, sans-serif";
}
.input1{
	height: 42px;
	padding: 0 5px;
	line-height: 42px;
	width: 288px;
	border: 1px solid #ccc;
	font-size: 18px;
	border-radius: 5px;
	margin: 10px auto;
}
#chekbox{
	margin: 15px 0px;
}
#form1{
	margin-top: 5px;
}
#form1 span{
	margin-left: 10px;
}
.btn{
	width: 100%;
	height: 45px;
	background: #337AB7;
	border-radius: 5px;
	color: white;
	border: 0px;
	font-size: 18px;
}
.btn:hover{
	cursor: pointer;
}